@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes borderBottom {
    from{border-bottom: solid transparent;}

    to{border-bottom: 1mm solid red;}
}

@keyframes border {
    from{border: solid transparent;}

    to{border: 1mm solid red;}
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0); }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.slide-up-animated-class{
    animation: slideUp 200ms ease-in-out forwards;
}

.fade-out-animated-class{
    animation: fadeOut 200ms ease-in-out forwards;
}

body{
    padding: 0;
    margin: 0;

    overflow-y: auto;

    height: 100vh;

    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-header{
    background-color: rgba(40, 40, 40, 0.52);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: block;
    position: relative;
    padding: 15px;

    animation: slideDown 300ms ease-in-out forwards;
}

.header-parent{
    display: flex;
    gap: 10px;
}

.main-button{
    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;

    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    cursor: pointer;
}

.main-button:hover{
    animation: borderBottom 400ms ease-in-out forwards;
}

.short-biography-block{
    display: flex;
    background-color: rgba(11, 11, 11, 0.56);
    margin: 35px;
    max-height: 60%;

    border-radius: 15px;
    border-width: 0;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    animation: fadeOut 400ms ease-in-out forwards;
}

.short-biography-text-block{
    width: 100%;
    display: flex;
    justify-content: end;
    max-height: 320px;

    overflow-y: auto;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    scroll-behavior: auto;

    max-height: 90%;
    overflow: hidden;
}

.poems-block{
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 402px;
    border-radius: 14px;
    overflow-y: auto;
    min-width: 397px;

    padding: 25px;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: rgba(11, 11, 11, 0.56);

    animation: fadeOut 400ms ease-in-out forwards;
}

.title{
    font-size: 32px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    margin-right: 15px;
    font-family: "Inter", sans-serif;

    user-select: none;
}

.content-text{
    font-size: 15px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    margin-right: 15px;
    font-family: "Inter", sans-serif;
}

.epigraph-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.epigraph-text{
    color: white;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;

    font-family: "Inter", sans-serif;

    margin-right: 35px;
    margin-left: auto;
}

.dropdown{
    font-family: "Inter", sans-serif;
    font-style: italic;
    padding: 5px;
    border-radius: 14px;
    font-size: 16px;
}

.dropdown:hover{
    animation: border 400ms ease-in-out forwards;
    color: blue;
}

.main-button-form{
    display: flex;
    justify-content: center;
}

.portrait{
    margin: 15px;
    border-radius: 15px;
}

div.scroll-container {
    background-color: rgba(11, 11, 11, 0.56);
    border-radius: 14px;
    overflow: auto;
    white-space: nowrap;

    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    display: flex;
    justify-content: center;
}

div.scroll-container img {
    padding: 10px;
    border-radius: 14px;
}